<div
  class="video-card"
  (mouseenter)="!noteIsVisible && showOverlay()"
  (mouseleave)="!noteIsVisible && hideOverlay()"
>
  <div class="overlay"></div>

  <!-- video-container -->
  <div class="video-container">
    <div
      class="thumbnail-container"
      *ngIf="!showVideo"
      (click)="!noteIsVisible && toggleVideo()"
    >
      <img [src]="thumbnailUrl" alt="{{ video.title }} Thumbnail">
    </div>
    <div class="iframe-container" *ngIf="showVideo">
      <iframe
        [src]="videoUrl | safeVideoUrl"
        frameborder="0"
        title="YouTube Video - {{ video.title }}"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- meta-data -->
  <div class="meta-data">
    <h3 [innerHTML]="video.title"></h3>
    <span>Channel Name</span>
  </div>

  <!-- note-control -->
  <div class="note-control">
    <a
      href="javascript:void(0)"
      class="link"
      (click)="!noteIsVisible && showNote()"
    >
      {{ !video.note ? 'Write a note' : 'You have 1 hidden note' }}
      <span class="arrow-icon"></span>
    </a>
    <textarea
      [(ngModel)]="video.note"
      (change)="onNoteChange(video.id, video.note)"
      placeholder="Write a note..."
    ></textarea>
  </div>
</div>
