@import ../variables

.main-area
  width: 100%
  max-width: $container-width + $baseline*2 + $baseline
  margin: 0 auto
  margin-top: $baseline*2
  padding: 0 $baseline

// toolbar
.toolbar
  margin-bottom: $baseline/2
  input, button
    height: $baseline*2
    padding: 0 $baseline
    border-radius: $baseline
    border: 0
    font-family: inherit
  input
    display: block
    width: 100%
    color: $color-darkblue
    background-color: $color-sugarcane
    margin-bottom: $baseline/2
    &:focus
      outline: 2px solid $color-darkblue
  button
    background-color: $color-darkblue
    color: $color-sugarcane
    font-weight: 600
    &:last-child
      margin-left: $baseline/2
    &:hover
      cursor: pointer

// grid
.muuri-grid
  position: relative
.muuri-item
  z-index: 1
  display: block
  position: absolute
  width: calc(25% - 28px)
  margin: $baseline/2
  cursor: move
