<main class="main-area">
  <div class="toolbar">
    <input [(ngModel)]="channelId" (keyup.enter)="handleSearch()" placeholder="Search YouTube Channel ID">
    <button (click)="handleSearch()">Search</button>
  </div>

  <div class="muuri-grid">
    <div class="muuri-item" *ngFor="let video of videos; let index = index">
      <app-video-card class="video-card-container" [video]="video" [index]="index"></app-video-card>
    </div>
  </div>

  <button (click)="fetchVideos(channelId)">Load More</button>
</main>

<router-outlet></router-outlet>
