@import ../variables

.container
  display: flex
  flex-direction: column
  gap: $grid-gap*.5
  width: 100%
  max-width: $container-width + $container-padding-x*2 + $grid-gap
  min-height: 100%
  margin: 0 auto
  padding: $container-padding-y $container-padding-x

// main-area
.main-area
  flex-grow: 1
  display: flex
  flex-direction: column

// error-container
.error-container
  flex-grow: 1
  padding: $baseline*3 0

// grid
.muuri-grid
  position: relative
  .muuri-item
    z-index: 1
    display: block
    // position: absolute
    float: left
    width: calc(100%/4 - #{$grid-gap})
    margin: $grid-gap*.5
    cursor: move
    @media screen and (max-width: 960px)
      width: calc(100%/3 - #{$grid-gap})
    @media screen and (max-width: 700px)
      width: calc(100%/2 - #{$grid-gap})
    @media screen and (max-width: 500px)
      width: calc(100% - #{$grid-gap})
.muuri-item-dragging
  z-index: 10 !important

// toolbar
.toolbar
  input
    max-width: 380px
    border-radius: 14px
  button
    transition: all .3s ease
  button[disabled]
    // opacity: .35 !important
    color: #8b8b8b
    background-color: $color-grey-400
    cursor: default
    &:before
      opacity: 0
  // button
  //   padding: 3px 14px
  //   // margin-left: -88px
  //   background-color: white
  //   color: $color-blue
  //   letter-spacing: 0
  //   border-radius: 10px
  //   transition: all .3s ease
  //   &:before
  //     opacity: 0
  //   &:not([disabled])
  //     &:hover,
  //     &:focus
  //       // margin-left: -106px
  //       letter-spacing: 3px
  //       background-color: transparent
  //       color: white
  //       &:before
  //         opacity: 1
  //   &[disabled]
  //     color: #8b8b8b
  //     background-color: $color-grey-400











