$color-black: #333
$color-white: #fff
$color-gradient-1: linear-gradient(45deg, #3a86ff, #9635f0 30%, #ff006e 60%, #fdbc0b 90%)
$color-gradient-2: linear-gradient(45deg, #3a86ff, #9635f0 25%, #ff006e 75%, #fdbc0b)

$baseline: 28px
$container-width: 1200px
$grid-gap: $baseline
$body-bg-color: $color-white
$body-color: $color-black
$body-bg-gradient-url: '/assets/6239008e1b61e8bee099c5d5_Pricing Gradient.png'

// fonts
$default-font-family: 'Rubik', sans-serif
$default-font-size: 14px
$default-font-weight: 400
$semi-bold-font-weight: 500
$bold-font-weight: 700

// headings
$heading-font-weight: $bold-font-weight
$heading-color: $color-black
$h3-font-size: 16px
$h3-line-height: $baseline*.75

// form-control
$form-control-padding-y: $baseline*.25
$form-control-padding-x: $baseline*.75
$form-control-border-radius: $baseline*.5
$form-control-font-size: 12px
$form-control-font-weight: $semi-bold-font-weight

// call-to-action
$cta-font-weight: $semi-bold-font-weight

// button
$button-gradient: $color-gradient-2
$button-color: $color-white

// link
$link-gradient: $color-gradient-1
$arrow-icon-w: 12px
$arrow-icon-h: 13px
$arrow-icon-top-fix: -1px
$arrow-icon-margin: 7px
$arrow-icon-image-url: '/assets/632e43355a863fdb1eb3ebae_cta-gradient-right.svg'
